body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding-left: 150px;
    padding-right: 150px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.content {
    margin-top: 60px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}

.centered-button {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #d3d3d3;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.centered-button:hover {
    background-color: #a9a9a9;
}

header {
    background-color: #ffffff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.top-links {
    display: flex;
    align-items: center;
    gap: 15px;

}

.icon-link {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.icon-link:hover {
    color: #747679;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menu ul li {
    margin: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .top-links {
        margin-top: 10px;
    }
}