{% extends "products/layout.html" %}

{% block title %}Про нас{% endblock %}

{% block content%}
    <h1>о нас</h1> 
    <p>about:</p>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BEMOLKA - Магазин одежды для самых маленьких!</title>
</head>
<body>
    <h1>о нас</h1> 
    <p>about:</p>
    
   
</body>
</html> -->