{% extends "products/layout.html" %}

{% block title %}BEMOLKA - Магазин одежды для самых маленьких!{% endblock %}

{% block content %}
    <h1>Добро пожаловать в магазин одежды для самых маленьких - BEMOLKA! </h1>
    <p>Мы специализируемся на предоставлении высококачественной детской одежды для самых маленьких. Наша миссия — сделать вашего малыша самым стильным и счастливым!</p>
    <p>В каталоге нашего интернет-магазина для детей Вы найдете все, что понадобится маленькому ребенку в любое время года: носочки, боди, шапочки для новорожденных, платья, штаники, теплые комбинезоны, комплекты для новорожденных и многое другое.</p>
    <h2>Популярные товары:</h2>
{% endblock %}