<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BEMOLKA - Магазин одежды для самых маленьких!</title>
</head>
<body>
    <h1>В Вашем доме скоро ожидается пополнение?</h1> 
    <h1>Или Вы уже стали мамой очаровательного карапуза? В любом случае Вам, конечно, хочется одеть кроху только в самые качественные и стильные наряды. Детский интернет-магазин BEMOLKA – отличное место для мам, которые хотят с рождения приучать своих малышей к стильному и красивому гардеробу.</h1>
    <h1>В каталоге нашего интернет-магазина для детей Вы найдете все, что понадобится маленькому ребенку в любое время года: носочки, боди, шапочки для новорожденных, платья, штаники, теплые комбинезоны, комплекты для новорожденных и многое другое.</h1>
    <h2>Наши товары:</h2>
    
   
</body>
</html>