{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    {% include "products/menu.html" %}
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <!-- Подключаем jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    // Настройка AJAX для CSRF-токена
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    });
    </script>
    <script>
    $(function() {
        $("input[name='q']").autocomplete({
            source: "{% url 'search_autocomplete' %}",
            minLength: 2,
            select: function(event, ui) {
                window.location.href = "{% url 'search' %}?q=" + ui.item.value;
            }
        });
    });
    </script>
</body>
</html>