{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<header>
    <div class="header-content">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Логотип">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}" class="centered-button">ГЛАВНАЯ</a></li>
                <li><a href="{% url 'baby' %}" class="centered-button">МАЛЫШИ (0-18 мес)</a></li>
                <li><a href="{% url 'girls' %}" class="centered-button">ДЕВОЧКИ</a></li>
                <li><a href="{% url 'boys' %}" class="centered-button">МАЛЬЧИКИ</a></li>
                <li><a href="{% url 'shoes' %}" class="centered-button">ОБУВЬ</a></li>
                <li><a href="{% url 'accessories' %}" class="centered-button">ТЕКСТИЛЬ | АКСЕССУАРЫ</a></li>
                <li><a href="{% url 'delpay' %}" class="centered-button">ДОСТАВКА И ОПЛАТА</a></li>
            </ul>
        </nav>
    </div>
    <div class="top-links">
        {% if user.is_authenticated %}
            <a href="#" class="icon-link" title="ПРОФИЛЬ">
                <i class="fas fa-user"></i>
            </a>
            <a href="{% url 'logout' %}" class="icon-link" title="ВЫЙТИ">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="icon-link" title="ВОЙТИ">
                <i class="fas fa-user"></i>
            </a>
        {% endif %}
            <a href="{% url 'basket' %}" class="icon-link" title="КОРЗИНА">
                <i class="fas fa-shopping-cart"></i>
            </a>
    </div>
    <div class="vend">
        {% if 'Vendors' in user.groups.all|join:", " %}
            <a href="{% url 'add_product' %}" class="btn btn-success">Добавить товар</a>
        {% endif %}
    </div>
</header>