{% extends "products/layout.html" %}

{% block content %}
  <h2>ВХОД</h2>
  <form method="post">
    {% csrf_token %}
    
    <div>
      <label for="id_username">Логин:</label>
      {{ form.username }}
    </div>

    <div>
      <label for="id_password">Пароль:</label>
      {{ form.password }}
    </div>

    <button type="submit">ВХОД</button>
  </form>

  <p>Еще нет аккаунта? <a href="{% url 'register' %}" class="btn btn-secondary">Зарегистрироваться</a></p>
{% endblock %}

{% if request.GET.next %}
<div class="alert alert-info mb-4">
    <i class="bi bi-info-circle"></i> Чтобы добавить товар в корзину, пожалуйста, войдите в систему.
    После входа вы вернетесь к просмотру товара.
</div>
{% endif %}